// Colors

// Colors IONIC
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  header:     #f3d546,
  white:     #ffffff,
  transparent :  transparent
);

// Colors Style App
$dark-grey :  #30313e;
$light-grey : #adadb3;
$yellow:      #f3d546;
$dark-yellow: #edc128;
$white:       #ffffff;
$icon-facebook : #4267b2;
$icon-twitter : #1da1f2;
$icon-vimeo : #172322;
$icon-googleplus : #DB4437;
$profile-dark-grey : #30323f;
$profile-box-list: #353742;
