// Media
  // GRID MD
  @media screen and (min-width: 768px){
    page-home .card-img{
      width: 100%;
      min-height: 170px;
    }
  }

  @media screen and (max-width: 377px){
    page-home .card-img{
      width: 100%;
      min-height: 170px;
    }
  }


  @media only screen and (min-width: 540px) and (max-width: 787px) {
    page-home .card-img{
      width: 100%;
      min-height: 160px;
    }
  }
