
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn-material {
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px; 
    height: 5px;
    background: rgba(255, 255, 255, .2);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  &:focus:not(:active)::after {
    animation: ripple 1s ease-out;
  }
  &:hover {
    transition: background-color 300ms ease;
  }
}


