<header ng-init="headerInit()" class="row">

  <section class="header-section col-12-5">
    <button class="header-btn menu-btn left"
            ng-class="sidebarClosed == false ? 'is-active' : ''"
            ng-click="toggleSidebar()">
      <i class="icon"
         ng-class="sidebarClosed == true ? 'icon-menu' : 'icon-close'"></i>
    </button>
  </section>

  <section class="header-section col-75">
    <h1 class="title">Mamães a bordo</h1>
  </section>

  <section class="header-section col-12-5">
    <button class="header-btn right"
            ng-click="toggleSearch()">
      <i class="icon icon-search"></i>
    </button>
  </section>

  <section class="header-section search row"
           ng-class="isSearchActive == true ? 'fade-in is-active' : 'fade-out'">

    <div class="search-box row">
      <input placeholder="Pesquisar"
             ng-model="search"
             ng-change="searchChanged()">
      <button ng-click="toggleSearch()">
        <i class="icon icon-close"></i>
      </button>
    </div>

  </section>

</header>
