// Profile Card
$color:#25242d;

#profile-card{
  .box-icons, .box-avatar{
    background: $profile-dark-grey;
  }

  .shadow{
    @include space(0,0);

    height: 0;
    border-top: 1px solid $color;
    box-shadow: 0px 1px 1px 0px $color
  }

  .name{color: $white;}
  .nationality,
  .icons{ color: $light-grey}


  .avatar {
    border: 2px solid $white;
  }

  .item-md.item-block .item-inner{
    border: none;
  }
}

.box-list{
  &.content.content-md,
  button.item.item-block.item-md,
  &button.item.item-block.item-md .item-inner{
    background: $profile-box-list;
  }
  button.item.item-block.item-md{
    border-bottom: 1px solid $color;
    &:last-child{
      border-bottom: none;;
    }
    .item-inner{
      border-bottom: none;
      color: white;
      font-size: 14px;
    }
  }


  .icon-arrow{
    margin: 0 5px;
  }
}
